# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.bak
*.tmp

# Node / Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# React Native / Metro / Bundles
*.jsbundle
*.bundle
*.map
.metro-health-check*
.expo/
.expo-shared/

# Environment files
.env
.env.*
!.env.example

# iOS / Xcode
ios/build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
**/.xcode.env.local
*.dSYM.zip
*.dSYM
*.xcworkspace
ios/Podfile.lock
**/Pods/

# Android / Gradle / IntelliJ
android/build/
android/app/build/ 
.gradle/
local.properties
*.iml
*.hprof
.cxx/
captures/
.externalNativeBuild/
app/release/


# Keystores (keep debug.keystore if used for development)
*.keystore
!android/app/debug.keystore

# Hermes / JSI
*.cpuprofile
*.hbc

# Jest / Testing / Coverage
coverage/
jest-cache/
jest-temp/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Misc
*.orig
*.log
*.lock
src/examples/apiUsageExample.ts
