# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor temp files
*.swp
*.swo
*~
*.bak

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# React Native / Bundled JS
*.jsbundle
*.bundle

# Environment
.env
.env.*
!.env.example

# Metro / Expo
.metro-health-check*
.expo/
.expo-shared/

# iOS / Xcode
ios/build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
**/.xcode.env.local
*.dSYM.zip
*.dSYM
*.xcworkspace

# Android / Gradle / IntelliJ
android/build/
.gradle/
.idea/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
captures/
.externalNativeBuild/
app/release/

# CocoaPods / Ruby
**/Pods/
vendor/bundle/
ios/Podfile.lock

# Hermes
*.cpuprofile

# Jest / Testing
coverage/
jest-cache/
jest-temp/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
